//Default bookingbug admin theme
$theme-color                       : #81bc00;
$screen-header-collapse            : $screen-xs-max;

&.skin-default {
  .bb-display-mode {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .ui-select-bootstrap .ui-select-choices-row.active>a {
    color: $btn-primary-color;
    background-color: $brand-primary;
  }

  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($theme-color, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($theme-color, 5%);
        }
      }

      .navbar-custom-menu {
        .language-picker {
          .btn-default {
            color: #fff;
          }

          input.form-control {
            color: #fff;
            @include placeholder(#fff);
          }
        }
      }

      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($theme-color, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      background: url("images/bb-logo.svg") no-repeat center center;
      background-size: contain;

      @include logo-variant(#ffffff);
    }

    li.user-header {
      background-color: $theme-color;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-light-sidebar($theme-color);

  // Calendar
  .fc {
    .fc-button-group {
      .fc-button.fc-state-active {
        background-color: $brand-primary;
        color: $btn-primary-color;
        box-shadow: none;
        text-shadow: none;
        border-color: $brand-primary;
      }
    }

    .fc-bgevent {
      background: $brand-primary;
      opacity: 0.1;
    }

    .fc-event {
      border: none;
      padding: 7px 0;
      &.status_blocked {
        background-color: $gray !important;
      }
      &.status_no_show {
        background-color: $gray !important;
      }
      &.status_external {
        background-color: #DDD !important;
        border-color: #AAA !important;

      }
      .fc-bg {
        background: none;
      }
    }

    .fc-list-item {
      &.status_blocked span.fc-event-dot {
          background-color: $gray !important;
      }
      &.status_no_show span.fc-event-dot {
        background-color: $gray !important;
      }
      &.status_external {
        background-color: #DDD !important;
      }

    }
  }
}


//Buttons
.btn-primary {
  text-shadow: 1px 1px 0 darken($btn-primary-bg, 20);
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}


//login section
.loginWrapper {
  //background: $gray-lighter;
  @include gradient-radial($gray-lighter, lighten($gray-light,10));

  .inner {
    opacity:0;
    @include animation(fadeInUpSmall);
    @include animation-duration(0.3s);
    @include animation-delay(0.5s);
    @include animation-fill-mode(forwards);

    .login-logo-container {
      text-align: center;

      .login-logo {
        background: url("/images/bb-logo.svg") no-repeat center center;
        width: 250px;
        height: 50px;
        margin-bottom: 0;
      }
    }
  }
}