//Default bookingbug admin theme
//SIDEBAR SKINS
//--------------------------------------------------------

//Dark sidebar
$sidebar-dark-bg                  : #222d32;
$sidebar-dark-hover-bg            : darken($sidebar-dark-bg, 2%);
$sidebar-dark-color               : lighten($sidebar-dark-bg, 60%);
$sidebar-dark-hover-color         : #fff;
$sidebar-dark-submenu-bg          : lighten($sidebar-dark-bg, 5%);
$sidebar-dark-submenu-color       : lighten($sidebar-dark-submenu-bg, 40%);
$sidebar-dark-submenu-hover-color : #fff;

//Light sidebar
$sidebar-light-bg                  : #f8f8f8;
$sidebar-light-hover-bg            : lighten(#f0f0f1, 1.5%);
$sidebar-light-color               : #444;
$sidebar-light-hover-color         : #000;
$sidebar-light-submenu-bg          : $sidebar-light-hover-bg;
$sidebar-light-submenu-color       : #777;
$sidebar-light-submenu-hover-color : #000;

$transition-speed                  : 0.3s;
$transition-fn                     : ease-in-out;


$theme-color                       : #81bc00;
$screen-header-collapse            : $screen-xs-max;

&.skin-default {
  .bb-display-mode {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($theme-color, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($theme-color, 5%);
        }
      }

      .navbar-custom-menu {
        .language-picker {
          .btn-default {
            color: #fff;
          }

          input.form-control {
            color: #fff;
            @include placeholder(#fff);
          }
        }
      }

      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($theme-color, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      background: url("images/bb-logo.svg") no-repeat center center;
      background-size: contain;

      @include logo-variant(#ffffff);
    }

    li.user-header {
      background-color: $theme-color;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-light-sidebar($theme-color);
}





//Buttons
.btn-primary {
  text-shadow: 1px 1px 0 darken($btn-primary-bg, 20);
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}


//login section
.loginWrapper {
  //background: $gray-lighter;
  @include gradient-radial($gray-lighter, lighten($gray-light,10));

  .inner {
    opacity:0;
    @include animation(fadeInUpSmall);
    @include animation-duration(0.3s);
    @include animation-delay(0.5s);
    @include animation-fill-mode(forwards);

    .login-logo-container {
      text-align: center;

      .login-logo {
        background: url("/images/bb-logo.svg") no-repeat center center;
        width: 250px;
        height: 50px;
        margin-bottom: 0;
      }
    }
  }
}

