.calendar-filters {
	.form-group {
		margin-bottom: 5px;
	}

	.ui-select-multiple.ui-select-bootstrap {
		padding: 2px 3px 0 3px;
	}
}

.resource-calendar {
	.fc-toolbar {
		p.datepicker {
			padding-top: 0;

			input.form-control {
				height: 29px;
				width: 140px;
			}

			.input-group-btn {
				font-size: 1em;
				width: auto;
			}

			.dropdown-menu {
				width: 260px;
			}
		}

		h2 {
			font-size: 1.9em;
		}
	}

	.fc-view-container {
		background: #fff;

		.fc-view {
			&>table {
				&>thead.fc-head {
					border-left: 1px solid $bb-border;
					border-right: 1px solid $bb-border;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}

				&>tbody.fc-body {
					border-left: 1px solid $bb-border;
					border-right: 1px solid $bb-border;
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
	}

  .fc-time-grid-event,
  .fc-timeline-event {
    .pre, .post {
    	position: relative;
    	opacity: 0.4;

    	&:before{
    		display: block;
    		content: '';
    		position: absolute;
    		top: 0;
    		right:0;
    		bottom:0;
    		left:0;
    		background-color: #fff;
      	opacity: 0.6;
    	}
    }
  }

  .fc-time-grid-event {
  	.pre {
  		border-bottom: 1px dotted #fff;
  	}

  	.post {
  		border-top: 1px dotted #fff;
	    width: 100%;
	    bottom: 0px;
	    position: absolute;
	  }
  }

  .fc-timeline-event {
  	.pre, .post {
	    height: 100%;
	    bottom: 0px;
	    position: absolute;
	  }

	  .pre {
	  	border-right: 1px dotted #fff;
  	}

  	.post {
	  	border-left: 1px dotted #fff;
	    right: 0px;
	    z-index: 10;
	  }
  }
}

.fc {
  .fc-event {
    border: none;
    padding: 7px 0;
    &.status_blocked {
      background-color: $gray !important;
    }
    &.status_no_show {
      background-color: $gray !important;
    }
    &.status_external {
      background-color: #DDD !important;
      border-color: #AAA !important;

    }
    .fc-bg {
      background: none;
    }
  }

  .fc-list-item {
    &.status_blocked span.fc-event-dot {
        background-color: $gray !important;
    }
    &.status_no_show span.fc-event-dot {
      background-color: $gray !important;
    }
    &.status_external {
      background-color: #DDD !important;
    }

  }
}