html,body {
  min-height: 100%;
  height: 100%;
}

.bb-page-frame {
  width:100%;
  height: auto;
  border: none;
  background: transparent;
}

#bb {
  @import "ng-scrollable";
  @import "switch";

  /*BB specific CSS*/
  @import "animations";
  @import "general";
  @import "login";
  @import "form";

  @import "default-theme";
  @import "resource-calendar";
  @import "widget";
  
  @import "user-preferences";
}

#bb .modal-content .bb-content, .modal-content #bb .bb-content{
	min-height: 100px !important;
}

.modal-content .modal-body #bb {
  &.container-fluid {
    padding-top: 10px;

    .bb-step-navigation {
      margin-bottom: 0;
    }
  }
}

//Module overwrite
[bb-admin-dashboard] {

  .uib-separator {
    padding: 0px 1px 0px 1px;
  }

  .form-group {
    &.schema-form-duration {
      position: relative;
    }
    &.schema-form-duration > .form-control-feedback {
      top: 23px;
    }
  }

}
