html,body {
  min-height: 100%;
  height: 100%;
}


.bb-page-frame {
  width:100%;
  height: auto;
  border: none;
  background: transparent;
}

#bb {
  @import "ng-scrollable";
  @import "switch";

	/*BB specific CSS*/
	@import "animations";
	@import "general";
	@import "login";

	@import "default-theme";
	@import "resource-calendar";
}

#bb .modal-content .bb-content, .modal-content #bb .bb-content{
	min-height: 100px !important;
}

.modal-content .modal-body #bb {
  &.container-fluid {
    padding-top: 10px;

    .bb-step-navigation {
      margin-bottom: 0;
    }
  }
}
