
@import "skin_bb";

.bb-page-frame {
  width:100%;
  height: auto;
  border: none;
  background: transparent;
}

.clickable {
  cursor: pointer;
}

//bootstrap overrides
.panel-heading {
  .btn-sm {
    position: relative;
    top:5px;
  }
}

@import "resource_calendar";

#bb .modal-content .bb-content, .modal-content #bb .bb-content{
	min-height: 100px !important;
}

.modal-content .modal-body #bb {
  &.container-fluid {
    padding-top: 10px;

    .bb-step-navigation {
      margin-bottom: 0;
    }
  }
}
