.calendar-filters {
	.form-group {
		margin-bottom: 5px;
	}

	.ui-select-multiple.ui-select-bootstrap {
		padding: 2px 3px 0 3px;
	}
}

.resource-calendar {
	.fc-toolbar {
		p.datepicker {
			padding-top: 0;

			input.form-control {
				height: 29px;
				width: 140px;
			}

			.input-group-btn {
				font-size: 1em;
				width: auto;
			}

			.dropdown-menu {
				width: 260px;
			}
		}

		h2 {
			font-size: 1.9em;
		}
	}

	.fc-view-container {
		background: #fff;

		.fc-view {
			&>table {
				&>thead.fc-head {
					border-left: 1px solid $bb-border;
					border-right: 1px solid $bb-border;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}

				&>tbody.fc-body {
					border-left: 1px solid $bb-border;
					border-right: 1px solid $bb-border;
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
	}

  .fc-time-grid-event,
  .fc-timeline-event {
    .pre, .post {
      background-color: $gray-light;
    }
  }

  .fc-time-grid-event .post {
    width: 100%;
    bottom: 0px;
    position: absolute;
  }

  .fc-timeline-event .post {
    right: 0px;
    z-index: 10;
  }

  .fc-timeline-event .pre,
  .fc-timeline-event .post {
    height: 100%;
    bottom: 0px;
    position: absolute;
  }
}
